*{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 15px;
}
.main{
    /* background-color: #aaa; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.table{
    width: 80%;
}
#btn-leer{
    margin: 2% 0 1% 0;
    padding: .5% 5%;
    color: #F05454;
    background-color: transparent;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    font-weight: bold;
}
#btn-leer:hover{
    background-color:#DDDDDD;
}
#alerta{
    width: 20%;
    margin: .5% 0;
}